footer{  
    background-color: rgba(255, 0, 0, 0.789); 
    display: flex; 
    justify-content: space-between; 
    align-items: center;    
    padding: 10px; 
    margin-inline-end: 0px;

 h2{  
    font-size: 60px; 
    font-style: italic;  
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-weight: 400%;  
    color:white; 
 }
   
   p{  
        font-size: 40px; 
        font-style: italic; 
        font-family: Georgia, 'Times New Roman', Times, serif; 
        font-weight: 200px; 
        

    }
}



