 /**HEADER..........**/
 header{   
    background-color: rgba(255, 0, 0, 0.789) ;  
    display: flex; 
    top: 0; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px; 
    z-index: 1;  

    h1{  
        font-size:50px; 
        font-style: italic;  
        font-family: Georgia, 'Times New Roman', Times, serif; 
        font-weight: 400;  
        color:white;
        margin-block: 15px;  
        
         
                 p{   
                font-size: 30px; 
                font-style: italic; 
                font-family: Georgia, 'Times New Roman', Times, serif; 
                font-weight: 100; 
                justify-content: left; 
                align-items: flex-end;      

        }

    }  
    nav{ 
        ul{ 
            list-style: none; 
            display: flex; 
            li{   
                margin: 15px; 
                margin-left: 0px; 
            a{  
                text-decoration: none; 
                font-size: 20px; 
                font-family: Georgia, 'Times New Roman', Times, serif; 
                color: black; 
                justify-content: space-evenly; 
                align-items: end;  
                padding: 0px; 
                flex-direction: row-reverse; 
                &:hover{  
                    color:chartreuse; 
                    transform: scale(1.5);
                    }

                }

            }
        }

    }

}